body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: beige;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px auto;
    width: 75%;
    border: 2px solid green;
}

.box {
    width: 20%;
    box-sizing: border-box;
    height: 400px;
    margin: 4px;
    padding: 50px;
    background-color: cornflowerblue;
}

.green {
    background-color: green;
    border: 2px solid red;
}

.pink {
    background-color: pink;
    border: 2px solid green;
}
