/**** General ************************************/
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
}

p {
    margin-bottom: 0.1em;
}

ul {
    list-style: none;
    line-height: 2em;
    padding: 0;
    margin: 0;
}

ul li {
    display: inline;
    padding-right: 1em;
}

#navbar a {
    color: rgb(110, 110, 110);
    text-decoration: none;
}

#navbar a:hover {
    border-bottom: 1px solid rgb(126, 9, 9);
}

/**** Structure/Containers ************************/
.container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 3em 2em 70vh 3em;
    grid-template-areas:
        'header'
        'navbar'
        'content'
        'footer';
    column-gap: 1px;
    row-gap: 1px;
    margin: auto;
    /* border: 2px solid green; */
}

.blog-card-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        'one two'
        'three four';
    column-gap: 0.2em;
    row-gap: 0.2em;
    margin: auto;
}

.card {
    display: flex;
    padding: 1em;
    align-items: flex-end;
}

.card a {
    text-decoration: none;
}

.card a:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 10px black;
}

.card-header {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 3px;
}

.card-header .post-title {
    color: rgb(126, 9, 9);
    font-weight: 600;
    margin: 0;
}

.card-header .post-date {
    margin-top: 3em;
    font-size: 0.7em;
    font-variant: small-caps;
}

.card-header .post-author {
    margin: 0;
    color: black;
    font-weight: 600;
    font-size: 0.8em;
}

.card-header img {
    width: 1.5em;
    margin-right: 5px;
}

.card-header a {
    font-weight: 600;
    font-size: small;
    border-radius: 3px;
    background: rgba(204, 204, 204, 0.6);
}

/*** Featured Posts ******************************/
#one {
    grid-area: one;
    background-image: url(../imgs/altumcode-XMFZqrGyV-Q-unsplash.jpg);
    background-size: cover;
}
#two {
    grid-area: two;
    background-image: url(../imgs/markus-spiske-Fa0pTKuoDVY-unsplash.jpg);
    background-size: cover;
}
#three {
    grid-area: three;
    background-image: url(../imgs/michael-dziedzic-aQYgUYwnCsM-unsplash.jpg);
    background-size: cover;
}
#four {
    grid-area: four;
    background-image: url(../imgs/danial-igdery-FCHlYvR5gJI-unsplash.jpg);
    background-size: cover;
}

#header {
    grid-area: header;
    color: rgb(126, 9, 9);
    line-height: 0.5em;
    padding-left: 1em;
    /* border: 1px solid red; */
}

#navbar {
    grid-area: navbar;
    padding-left: 1em;
    /* border: 1px solid red; */
}

#featured {
    grid-area: content;
    /* border: 1px solid red; */
}

#footer {
    grid-area: footer;
    display: flex;
    justify-content: flex-end;
    background-color: white;
    color: black;
    font-size: small;
    margin-top: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    box-shadow: 0px 2px 4px grey;
    /* border: 1px solid red; */
}

#footer img {
    width: 1.5em;
    margin-right: 4px;
}

@media (min-width: 700px) {
    .container {
        display: grid;
        width: 90%;
        grid-template-columns: 140px 1fr;
        grid-template-rows: 4em 80vh 50px;
        grid-template-areas:
            'header header'
            'navbar content'
            'footer footer';
        column-gap: 1em;
        row-gap: 1em;
        margin: auto;
        /* border: 2px solid green; */
        justify-content: center;
    }

    .blog-card-container {
        column-gap: 0.5em;
        row-gap: 0.5em;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    ul li {
        display: block;
    }
}
