body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: beige;
}

.container {
    display: grid;
    width: 100%;
    grid-template-columns: 20vw 20vw 50vw;
    grid-template-rows: 30vh 25vh;
    grid-template-areas:
        'top top top'
        'bottomLeft bottomCenter bottomRight';
    column-gap: 10px;
    row-gap: 10px;
    margin: auto;
    border: 2px solid green;
    justify-content: center;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
    border: 1px solid black;
}

#top {
    grid-area: top;
}

#topCenter {
    grid-area: topCenter;
}

#topRight {
    grid-area: topRight;
}

#bottomLeft {
    grid-area: bottomLeft;
}

#bottomCenter {
    grid-area: bottomCenter;
}

#bottomRight {
    grid-area: bottomRight;
}
